<table class="table table-bordered bg-dark text-warning">
    <thead>
        <tr>
            <th>Name</th>
            <td>{{lastName}}, {{firstName}}</td>
        </tr>
        <tr>    
            <th>Age</th>
            <td>{{age}}</td>
        </tr>    
        <tr>
            <th>Gender</th>
            <td>{{gender}}</td>
        </tr>    
        <tr>
            <th>Date Of Birth</th>
            <td>{{dateOfBirth | date : 'dd/MM/yyyy'}}</td>
        </tr>                    
    </thead>    
</table>