<div class="container">
  <div class="row m-1">
    <div class="col">
      <h1>{{title}}</h1>
    </div>
    <div class="col">
      <button class="btn btn-info" (click)="toggleState()">Change State</button>
    </div>
  </div>
  <div class="row m-1">
    <div class="col">
      <div [@stateTrigger]="state" style="width : 100px;height : 100px">
      </div>
    </div>
  </div>
  <div class="row m-1">
    <div class="col-sm-2">      
      <table class="table table-bordered" [@onOffTrigger]="onOffState">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let name of friendNames">
            <td>
              {{name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>