<mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Student Detail of {{studentId}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id" [value]="student.id" readonly="true">            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" [value]="student.name" readonly="true">            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" [value]="student.city" readonly="true">            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Mobile No" [value]="student.mobileNo" readonly="true">          
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" [value]="student.email" readonly="true">          
            </mat-form-field>
          </div>      
      </div>      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="button" (click)="back()">Back</button>      
    </mat-card-actions>
</mat-card>