<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{msg}}</h1>
        </div>
        <div class="col">
            <p>{{name}}</p>
        </div>
    </div>    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-info text-datk">
                    Personal Details
                </div>
                <div class="car-body">
                    <app-personal-details></app-personal-details>
                </div>
            </div>            
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-success text-info">
                    Education Details
                </div>
                <div class="card-body">
                    <app-education-detail></app-education-detail>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Skills
                </div>                
                <div class="card-body">
                    <app-skills></app-skills>
                </div>
            </div>            
        </div>
    </div>
</div>