<div class="container">
    <div class="row">
        <div class="col">            
            <app-message 
                message="Hi Good Afternoon...!" 
                message-type="warning"
            >
            </app-message>
        </div>
        <div class="col">            
            <app-message [message]="name"></app-message>
        </div>
    </div>    
    <div class="row">
        <div class="col">
            <div class="card" *ngFor="let person of personList">
                <div class="card-header bg-success text-datk">
                    <app-message message="Personal Details of {{person.firstName}}" message-type="warning"></app-message>
                </div>
                <div class="car-body">                    
                    <app-personal-details
                        [first-name]="person.firstName"
                        [last-name]="person.lastName"
                        [age]="person.age"                    
                        [gender]="person.gender"
                        [date-of-birth]="person.dateOfBirth"
                    >
                    </app-personal-details>
                </div>
            </div>            
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-success text-info">
                    Education Details
                </div>
                <div class="card-body">
                    <app-education-detail></app-education-detail>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Skills
                </div>                
                <div class="card-body">
                    <app-skills></app-skills>
                </div>
            </div>            
        </div>
    </div>
</div>