<form [formGroup]="studentForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title *ngIf="studentId === 0">Student Entry Form</mat-card-title>
      <mat-card-title *ngIf="studentId !== 0">Student Update Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id" formControlName="id">
            <mat-error *ngIf="studentForm.controls['id'].hasError('required')">
              Id is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="studentForm.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city">
            <mat-error *ngIf="studentForm.controls['city'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Mobile No" formControlName="mobileNo">
            <mat-error *ngIf="studentForm.controls['mobileNo'].hasError('required')">
              Mobile No is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="studentForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" *ngIf="studentId === 0">Save</button>
      <button mat-raised-button color="primary" type="submit" *ngIf="studentId !== 0">Update</button>
    </mat-card-actions>
  </mat-card>
</form>
