<div class="row m-1">
    <div class="col-sm-4">
        Enter Any String : 
    </div>
    <div class="col-sm-4">
        <input type="text" name=str #vl class="form-control">
    </div>
</div>
<div class="row m-1">
    <div class="col-sm-8">
        <button class="btn btn-info m-1" (click)="upper()">ToUpper</button>
        <button class="btn btn-success m-1" (click)="lower()">ToLower</button>
        <button class="btn btn-danger m-1" (click)="reverse()">ToReverse</button>
    </div>
</div>
<app-string-util>{{resut}}</app-string-util>