<div class="row m-1">
    <div class="col-sm-4">
        Enter First Number :         
    </div>
    <div class="col-sm-4">
        <input type="number" name=num1 class="form-control" #n1>
    </div>
</div>
<div class="row m-1">
    <div class="col-sm-4">
        Enter Second Number :         
    </div>
    <div class="col-sm-4">
        <input type="number" name=num2 class="form-control" #n2>
    </div>
</div>
<div class="row m-1">
    <div class="col">
        <button class="btn btn-info m-1" (click)="add(n1.value,n2.value)">+</button>
        <button class="btn btn-danger m-1" (click)="sub(n1.value,n2.value)">-</button>
        <button class="btn btn-success m-1" (click)="mul(n1.value,n2.value)">*</button>
        <button class="btn btn-primary m-1" (click)="div(n1.value,n2.value)">/</button>
    </div>
</div>
<div class="row m-1" *ngIf="result !== 0">
    <div class="col">
        Result is : {{result}}
    </div>
</div>