<form [formGroup]="personForm" (ngSubmit)="save()">
    <div class="row m-1">
        <div class="col-sm-4">
            Name : 
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-4" *ngIf="personForm.get('name').invalid && personForm.get('name').touched">
            Name is Mandatory field.
        </div>
    </div>
    <div class="row m-1">
        <div class="col-sm-4">
            Email : 
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="col-sm-4" *ngIf="personForm.get('email').invalid && personForm.get('email').touched">
            <span *ngIf="personForm.get('email').errors['required']">Email Address is required.</span>
            <span *ngIf="personForm.get('email').errors['email']">Invalid Email Address.</span>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-sm-4">
            Mobile No : 
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="mobileNo">
        </div>
        <div class="col-sm-4" *ngIf="personForm.get('mobileNo').invalid && personForm.get('mobileNo').touched">
            <span *ngIf="personForm.get('mobileNo').errors['required']">Mobile Number is required.</span>
            <span *ngIf="personForm.get('mobileNo').errors['pattern']">Invalid Mobile Number.</span>
            <span *ngIf="personForm.get('mobileNo').errors['minlength']">Min 10 Char required in mobile Number.</span>
            <span *ngIf="personForm.get('mobileNo').errors['maxlength']">Max 10 Char required in mobile Number.</span>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-sm-4">
            City : 
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="city">
        </div>
    </div>
    <div formArrayName="hobby">
        <div class="row m-1" *ngFor="let control of personForm.get('hobby')['controls'];let i=index" >
            <div class="col-sm-4">
                Hobby {{i+1}}: 
            </div>
            <div class="col-sm-4">
                <input type="text" [name]="i" class="form-control" [formControlName]="i">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info" type="button" (click)="addNew()">Add More</button>
            </div>
        </div>
    </div>    
    <div class="row m-1">
        <div class="col">
            <button class="btn btn-success m-1" [disabled]="personForm.invalid">Submit</button>
            <button class="btn btn-secondary m-1" type="button" (click)="resetForm()">Reset</button>
        </div>
    </div>
</form>
<hr>
<div class="row m-1" *ngIf="isSubmitted">
    <div class="col">
        <table class="table table-bordered">
            <tr>
                <th>Name : </th>
                <td>{{person.name}}</td>
            </tr>
            <tr>
                <th>Email : </th>
                <td>{{person.email}}</td>
            </tr>
            <tr>
                <th>Mobile No :</th>
                <td>{{person.mobileNo}}</td>
            </tr>
            <tr>
                <th>City : </th>
                <td>{{person.city}}</td>
            </tr>
            <tr>
                <th>Hobbies</th>
                <td>
                    <li *ngFor="let hb of person.hobby">
                        {{hb}}
                    </li>
                </td>
            </tr>
        </table>
    </div>
</div>